* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana, sans-serif;
    
}
header{
    background-color: #218380;
    color: #ffffff;
    font-size: 24px;
    padding: 1.5%;
}

.timer {
    float: right;
}

div {
    border-radius: 15px;
    box-shadow: 5px 5px 15px grey;
    max-width: 60%;
    margin: 10% auto;
    padding: 3rem;
    font-size: 16px;
}

h1 {
    font-size: 1.5em;
}

p {
    margin: 10px auto;
}

button {
    background-color: #218380;
    color: #ffffff;
    border: none;
    padding: .8rem;
    border-radius: 10px;
    margin-top: 15px;
}

li {
    margin: 0 3rem;
}

input {
    width: 13%;
    padding: .3em;
}


.startcard, .highscores {
    display: none;
}